@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');


::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE and old Edge */
body {
  -ms-overflow-style: none;
}

@import "tailwindcss";

@theme{
    --font-press: "Press Start 2P", system-ui;
    --font-manrope: "Manrope", system-ui;
    --font-oxamium: "Oxanium", system-ui
};